/* HTML: <div class="loader"></div> */
.loader {
	width: 100%;
	grid-column: 1/-1;
	padding: 2rem 1rem;
	@include useFlex(center, center, row, 1rem);
	.loader__item {
		aspect-ratio: 0.577;
		color: #000;
		display: grid;
		background: linear-gradient($orangeDark 0 0) top / 100% 1px,
			linear-gradient($orangeDark 0 0) bottom/100% 1px,
			linear-gradient(
					to bottom right,
					#0000 calc(50% - 2px),
					$orangeDark calc(50% - 1px),
					#0000 50%
				)
				top/100% calc(100% + 2px),
			linear-gradient(
					to bottom left,
					#0000 calc(50% - 2px),
					$orangeDark calc(50% - 1px),
					#0000 50%
				)
				top/100% calc(100% + 2px);
		background-repeat: no-repeat;
		animation: l17 4s infinite linear;

		&::before,
		&::after {
			content: "";
			grid-area: 1/1;
			background: inherit;
			border: inherit;
			animation: inherit;
		}
	}
	&::after {
		animation-duration: 2s;
	}
	.loader__item-sm {
		width: 0.75rem;
	}
	.loader__item-md {
		width: 1.25rem;
	}
	.loader__item-lg {
		width: 2rem;
	}
}
@keyframes l17 {
	100% {
		transform: rotate(1turn);
	}
}
