// ---------- Display
.d-flex {
	display: flex;
}

.d-grid {
	display: grid;
}

.d-block {
	display: block;
}

// ---------- Colors
.text-orange {
	color: $orangeDark;
}

// ---------- Accessability
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
.skip-link {
	margin-right: 1rem;
	position: fixed;
	z-index: 999;
	transform: translateX(-200%);
	transition: transform 0.3s;
	padding: 0.5rem 1rem;
	width: fit-content;
	font-weight: 600;
	background-color: $white;

	&:focus {
		transform: translateX(0);
	}
}
