// ---------- Display
.d-flex {
	display: flex;
}

.d-grid {
	display: grid;
}

.d-block {
	display: block;
}

// ---------- Colors
.text-orange {
	color: $orangeDark;
}

// ---------- Accessability
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
