/* COLORS */
$black: #000;
$dark: #1d1d1b;
$grayDarker: #979797;
$grayDark: #a5a5a4;
$gray: #eae4df;
$grayLight: #f8f5f2;
$grayLighter: #f4f5f8;
$white: #fff;
$orangeDark: #bb1e1e;
$orangeDarker: #b21919;
$blue: #1e71bb;
